---
import ArticleLayout from "../../layouts/ArticleLayout.astro";
import { getReadingTime } from "../../utils/readingTime";
import { getCollection } from 'astro:content';

export const prerender = true;

export async function getStaticPaths() {
  const posts = await getCollection('blog');
  return posts.map((post: any) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

const { post } = Astro.props as any;
const { Content, remarkPluginFrontmatter } = await post.render();
const readingTime = getReadingTime(post.body || '');
---

<ArticleLayout
  title={`${post.data.title} - Blog`}
  articleTitle={post.data.title}
  date={post.data.date}
  backHref="/blog"
  backLabel="Back to Blog"
  tags={post.data.tags}
  tagLinkPrefix="/blog"
  readingTime={readingTime}
>
  <!-- Cover Image -->
  {post.data.coverImage && (
    <div slot="cover" class="mb-10">
      <img
        src={post.data.coverImage}
        alt={post.data.title}
        class="w-full aspect-video object-cover rounded-lg cursor-pointer"
        id="cover-image"
      />
    </div>
  )}

  <!-- Article Content -->
  <Content />
</ArticleLayout>
