---
export const prerender = true;

import ThreeColumnLayout from "../../layouts/ThreeColumnLayout.astro";
import TagFilterWrapper from "../../components/TagFilterWrapper.astro";
import ContentListCard from "../../components/ContentListCard.astro";
import { sortByDateDesc, countTagOccurrences } from "../../utils/collectionHelpers";
import { getCollection } from 'astro:content';

const posts = await getCollection('blog');
const sortedPosts = sortByDateDesc(posts);
const tags = countTagOccurrences(posts, (p: any) => p.data.tags);
---

<ThreeColumnLayout
  title="Blog - Portfolio"
  headerTitle="Blog"
  headerDescription="Thoughts, stories, and ideas."
>
  <div slot="content" class="border-t border-gray-400/40">
    {sortedPosts.map((post: any) => (
      <ContentListCard
        href={`/blog/${post.slug}`}
        title={post.data.title}
        subtitle={post.data.category}
        excerpt={post.data.excerpt}
        tags={post.data.tags}
        date={post.data.date}
        filterValue={post.data.tags.join(',')}
      />
    ))}
  </div>

  <TagFilterWrapper slot="sidebar" tags={tags} />
</ThreeColumnLayout>
