---
export const prerender = true;

import ThreeColumnLayout from "../../layouts/ThreeColumnLayout.astro";
import TagFilterWrapper from "../../components/TagFilterWrapper.astro";
import ContentListCard from "../../components/ContentListCard.astro";
import { sortByDateDesc, countTagOccurrences } from "../../utils/collectionHelpers";
import { getCollection } from 'astro:content';

const shorts = await getCollection('shorts');
const sortedShorts = sortByDateDesc(shorts);
const tags = countTagOccurrences(shorts, (s: any) => s.data.tags);
---

<ThreeColumnLayout
  title="Shorts - Portfolio"
  headerTitle="Shorts"
  headerDescription="Quick technical snippets, tips, and notes."
>
  <div slot="content" class="border-t border-gray-400/40">
    {sortedShorts.map((short: any) => (
      <ContentListCard
        href={`/shorts/${short.slug}`}
        title={short.data.title}
        subtitle={short.data.category}
        excerpt={short.data.excerpt}
        tags={short.data.tags}
        date={short.data.date}
        filterValue={short.data.tags.join(',')}
      />
    ))}
  </div>

  <TagFilterWrapper slot="sidebar" tags={tags} />
</ThreeColumnLayout>
